<h1>Welcome</h1>
<% if current_user %>
  <%= link_to "Add post", new_post_path %>
<% end %>

<ul class= "posts">
  <% @posts.each do |post| %>
    <li>
      <%= post.title %>
      <%= post.tagline %>
      <%= post.content %>
      <%= post.user.email %>
      <% if current_user && current_user == post.user %>
        <%= link_to "Edit post", edit_post_path(post) %>
        <%= link_to "Delete post", post, method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>


