<h1>Welcome</h1>
<% if current_user %>
  <%= link_to "Add post", new_post_path %>
<% end %>

<ul class= "posts">
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
      <%= post.tagline %>
      <%= post.content %>
      <%= post.user.email %>
      <%= time_ago_in_words(post.created_at) %>
    </li>
  <% end %>
</ul>


